modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 18861
externalPort = 3000

[[ports]]
localPort = 18862
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBaaVGsjvHTKOpPoxHngYRzqRhTrO6aJridTTkM487k6sDgTh-DN99lrUy7PEROx4kOvlQRXZHmw5fOUPU1avpA"
VAPID_PRIVATE_KEY = "57xxQM2_S8hCO3xVHTeyROUIfSGIYkkg2VZV_mW-nYg"
VAPID_SUBJECT = "mailto:admin@bridge-safi.ma"
BRIDGE_WEBHOOK_SECRET = "bridge-safi-8b269bba03fd8c0205116f3f"
